.o-btn {
    all: unset;
    font-size: var(--text-4xl);
    color: var(--color-white);
    cursor: pointer;
    padding: var(--spacing-12);
    border-radius: var(--spacing-12);
    background-color: $prime_purple;
    font-weight: 900;

    &:hover {
        color: var(--color-white);
        background-color: $prime_purple_light;
    }
}

.o-smallBtn {
    all: unset;
    font-size: var(--text-sm);
    color: var(--color-white);
    cursor: pointer;
    padding: var(--spacing-4);
    border-radius: var(--spacing-4);
    background-color: $prime_purple;
    font-weight: 900;
    align-content: center;

    &:hover {
        color: var(--color-white);
    }
}

.o-qnaBtn {
    all: unset;
    font-size: var(--text-xl);
    letter-spacing: var(--text-xxs);
    color: var(--color-white);
    cursor: pointer;
    padding: var(--spacing-12);
    border-radius: var(--spacing-12);
    background-color: $prime_purple;
    font-weight: 900;

    &:hover {
        color: var(--color-white);
    }
}

.o-lightBtn {
    all: unset;
    font-size: var(--text-md);
    color: var(--color-white);
    cursor: pointer;
    padding: var(--spacing-12);
    border-radius: var(--spacing-12);
    border: solid var(--spacing-2) var(--color-white);
    background-color: $prime_purple_light;
    font-weight: 900;
    box-shadow: var(--spacing-4) var(--spacing-4) var(--spacing-4) gray;

    &:hover {
        color: var(--color-white);
    }
}

.o-whiteBtn {
    all: unset;
    display: block;
    cursor: pointer;
    text-align: center;
    padding: var(--spacing-8);
    margin: var(--spacing-24);
    font-size: var(--text-lg);
    border: var(--spacing-2) solid $prime_purple;
    border-radius: var(--spacing-32);
    background-color: var(--color-white);
    @media (max-width:768px) {
        margin: 0;
    }
}

.o-skillBtn {
    all: unset;
    display: block;
    cursor: pointer;
    font-size: var(--text-sm);
    text-align: center;
    color: $prime_purple;
    border-radius: var(--spacing-4);
    border: solid var(--spacing-2) $prime_purple;
}

.o-tag {
    @include tag;
    transition: 0.1s;

    &:hover {
        background-color: $dark_gray;
        color: var(--color-white);
    }

    &:active {
        background-color: $prime_gray;
        color: var(--color-white);
    }

    @media (max-width: 768px) {
        font-size: var(--text-xxs);
        border-radius: var(--spacing-4);
    }
}

.o-readMore {
    width: 100%;
    padding: var(--spacing-12);
    text-align: end;
    font-size: var(--text-lg);
    color: $prime_purple;
    z-index: 5;

    @media (max-width: 768px) {
        display: none;
    }
}

.o-react {
    font-size: var(--text-md);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    i {
        display: flex;
        flex-direction: row;
        padding: 0 var(--spacing-8) 0 var(--spacing-8);

        span {
            all: unset;
            font-size: var(--text-sm);
            text-decoration: none;
            text-transform: none;
        }
    }
}

.o-actBtn {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-2);
    cursor: pointer;
}

.o-socialIcon {
    font-size: var(--text-2xl);
    width: var(--text-2xl);
    aspect-ratio: 1/1;
}

.o-reference {
    all: unset;
    cursor: pointer;
    display: block;
    width: var(--spacing-120);
    aspect-ratio: 1/1;
}

.o-faqTopic {
    all: unset;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: var(--spacing-4);
    border: solid var(--color-black) 1px;
    border-radius: var(--spacing-8);
    text-align: center;
    font-size: var(--text-lg);
    font-weight: 800;

    &:hover {
        background-color: $prime_purple;
        color: var(--color-white);
    }

    &:active {
        background-color: var(--color-white);
        color: $prime_purple_light;
    }

    &__selected {
        background-color: $prime_gray;
        color: var(--color-black);
    }
}

.o-faqBtn {
    all: unset;
    display: block;
    width: 100%;

    span {
        background-color: $prime_purple_light;
        border-radius: var(--spacing-4);
        border: solid var(--color-black) 1px;

        svg {
            display: inline;
            width: var(--text-4xl);

            circle {
                fill: $prime_purple;
            }

            path {
                fill: $prime_purple_light;
            }
        }

        p {
            font-size: var(--text-lg);
            color: var(--color-white);
            text-align: center;
            font-weight: 800;
        }
    }
}

.o-collectPost_btn {
    width: 100%;
    text-align: start;
    color: var(--color-white);
    font-weight: 800;
    font-size: var(--text-sm);
    padding: var(--spacing-12);

    i {
        color: var(--color-white);
    }

    &:hover {
        color: $prime_purple_light;
    }
}

.o-basicLink {
    font-weight: 400;
    color: var(--color-black);
    cursor: pointer;
    &:hover {
        font-weight: 800;
        color: $prime_purple;
    }
    @media (max-width:768px) {
        font-size: var(--text-sm);
    }
}