
// welcome title
.o-welcomeTitle{
        a{
                min-width: 25rem;
                text-align: end;
                background-color: $prime_purple;
                padding: var(--spacing-12);
                border-radius: 0 var(--spacing-24) var(--spacing-24) 0;
                font-size: var(--text-3xl);
                color: var(--color-white);
            }
        @media (max-width: 768px){
                padding: 0 var(--spacing-24);
                a{
                        width: 100%;
                        text-align: center;
                        background-color: $prime_purple;
                        padding: var(--spacing-12);
                        border-radius: var(--spacing-8);
                        font-size: var(--text-2xl);
                        color: var(--color-white);
                    }
        }
}

.o-subTitle{
        min-width: 25rem;
        text-align: end;
        background-color: $prime_purple;
        padding: var(--spacing-12);
        border-radius: 0 var(--spacing-24) var(--spacing-24) 0;
        font-size: var(--text-3xl);
        color: var(--color-white);
}

.o-normalTitle{
        font-size: var(--text-3xl);
        color: $prime_purple;
}

.o-whiteTitle{
        font-size: var(--text-3xl);
        color: var(--color-white);
}

.o-smallWhiteTitle{
        font-size: var(--text-xl);
        color: var(--color-white);
}

.o-articleTitle{
        font-size: var(--text-2xl);
        color: $prime_purple;
}

.o-loginTitle{
        background-color: $prime_purple;
        font-size: var(--text-3xl);
        color: var(--color-white);
        border-radius: var(--spacing-12);
        padding: var(--spacing-4);
}

.o-sbadminTitle{
        background-color: $prime_purple;
        font-size: var(--text-lg);
        font-weight: 400;
        color: var(--color-white);
        width: 100%;
        border-radius: var(--spacing-4);
        text-align: center;
}