@import "broccoli-color";

// font
@font-face {
    font-family: Rubik;
    src: url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
}

@mixin taggleMenuFunction() {
    #burger {
        cursor: pointer;
        transition: 0.1s;
    }


    .burgerTurn {
        transform: rotate(90deg);
    }

    #toggleBar {
        display: none;
        transition: 0.1s;
        transform-origin: 50% 0%;
        flex-direction: row;
        margin: 0.5rem;
        padding: 0.5rem;
        border-top: solid 0.2rem $primeGray;
        border-bottom: solid 0.2rem $primeGray;

        div {
            h6 {
                font-weight: 800;
                background-color: $primePurpleLight;
                color: white;
                padding: 0.1rem;
                border-radius: 3rem 3rem;
                padding-left: 0.5rem;
            }

            a {
                color: $primePurple;
                padding-left: 0.5rem;
            }
        }
    }

    .noShow {
        display: flex !important;
        animation: toggleIn 0.1s both;
    }
}

// backgroung version images basic style
@mixin bg_img() {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    aspect-ratio: 1/1;
}

// readmore btn
@mixin readMore() {
    a.readMore {
        display: block;
        font-size: 0.8rem;
        color: $primePurpleLight;
        width: 100%;
        text-align: end;
        text-decoration: none;
        border-bottom: solid 2px $primeGray;
    }
}

// navbar
.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    display: grid;
    grid-template-columns: 50% 50%;

    .navbar-brand {
        padding: 10px;
        grid-column: 1/2;
    }

    .container {
        grid-column: 2/3;
        justify-content: end;

        .collapse {
            justify-content: end;

            .navbar-nav {
                margin-right: 20px;

                li {
                    align-self: center;

                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

// artical page content
.searchBar {
    width: 100%;
    display: flex;
    justify-content: end;

    form {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        width: 25rem;

        svg {
            width: 2.5rem;
            background-color: $primePurple;
            border-radius: 20px;
            grid-column: 1/3;
            grid-row: 1/2;
            z-index: 2;

            g {
                transform: scale(0.6);
                transform-origin: 167.9px 167.9px;
            }
        }

        .inputDiv {
            border: solid 3px $primePurple;
            border-radius: 0 50px 50px 0;
            grid-column: 2/21;
            grid-row: 1/2;
            display: flex;
            justify-content: center;

            input {
                width: 90%;
                border: none;
            }
        }
    }
}

.list-group {
    a {
        font-size: 1.3rem;
    }

    .borderSetting{
        border-bottom: solid 1px white;
    }

    border-radius: 30px;

    li:nth-last-child(1){
        .borderSetting{
            border-bottom: none;
        }
    }
}

.callToAction {

    .part1,
    .part2 {
        margin: 0;
        border: solid 2px $primePurple;
        letter-spacing: 0.5rem;
    }

    .part1 {
        border-radius: 10px 10px 0 0;
    }

    .part2 {
        border-radius: 0 0 10px 10px;
        padding: 10px;
        box-shadow: 0 3px 3px $primeGray;

        p {
            font-size: 0.9rem;
            color: gray;
        }
    }

    button {
        border-radius: 10px;
        border: solid 1px white;
        box-shadow: 0 3px 3px $primeGray;
        margin: 3%;
    }
}

.postsSection {
    .cardborder {
        border: solid 1px $primePurpleLight;
        box-shadow: 0px 5px 5px $primeGray;
        border-radius: 20px;
        padding: 1%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .postImg {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            width: 12rem;
            height: 100%;
            align-self: center;
    
            .postPhoto {
                width: 100%;
                grid-column: 1/6;
                grid-row: 1/6;
    
                span {
                    display: block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    aspect-ratio: 1/1;
                    border-radius: 1rem;
                }
            }
    
            .userimg {
                grid-column: 1/2;
                grid-row: 5/6;
                width: 100%;
                background-color: white;
    
                span {
                    display: block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    aspect-ratio: 1/1;
                }
            }
    
            p {
                width: 100%;
                font-size: 0.8rem;
                grid-column: 2/6;
                grid-row: 5/6;
                text-align: center;
                padding: 0.3rem;
                margin: 0;
                background-color: $primePurpleLight;
                text-wrap: nowrap;
            }
        }
    
        .postContents {
            width: 70%;
            padding: 0.5rem;
    
            .postTitle {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: start;
    
                h5 {
                    font-size: 2rem;
                    color: $primePurple;
                    font-weight: 400;
                    margin: 0;
                }
    
                p {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0;
    
                    a {
                        background-color: $primePurple;
                        border-radius: 0.5rem;
    
                        span {
                            font-size: 1rem;
                            letter-spacing: 0.1rem;
                            font-weight: 300;
                            color: white;
                            display: block;
                            height: min-content;
                        }
                    }
                }
    
            }
    
            .content {
                color: $primeGray;
                border-bottom: solid 2px $primeGray;
                margin-top: 0.5rem;
    
                .readMore {
                    width: 100%;
                    font-size: 0.8rem;
                    text-align: end;
                    margin: 0;
                    color: $primePurple;
                }
            }
    
            .socialIcons {
                margin-left: 0.1rem;
                align-items: center;
                margin-top: 0.5rem;
                padding: 0;
    
                i {
                    display: flex;
                    align-items: center;
                    padding: 0.5rem;
    
                    span {
                        padding-left: 0.2rem;
                    }
                }
    
                p {
                    margin: 0;
                    padding: 0;
                    text-align: end;
                    color: $primePurple;
                    font-size: 1.1rem
                }
            }
        }
    }
}

.pageNav {
    p {
        margin: 1rem;
    }
}

// Senior page style
// for taggle menu
.seniorPage-breadcrumbs,
.uniListPage-breadcrumbs,
.singleArticle-breadcrumbs,
.introduction-breadcrumbs {
    div {
        gap: 2rem;
    }

    h4,
    a {
        font-size: 2rem;
        font-weight: 300;
    }

    h3 {
        font-size: 3rem;
        font-weight: 300;
        color: $primePurple;
    }
}

.seniorPage {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    width: 100%;

    a {
        all: unset;
        cursor: pointer;
    }

    .sideNav {
        grid-column: 1/12;
        grid-row: 1/2;
        // side bar grid
        display: flex;
        flex-direction: row;

        .selections {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0;

            .locations,
            .topics {
                background-color: $primePurple;
                height: fit-content;
                border-radius: 1rem;
                margin: 0.5rem 0 0.5rem 0;
                padding: 1rem;

                span {
                    background-color: white;
                    display: block;
                    height: 2px;
                    width: 100%;
                    margin: 0.5rem 0 0.5rem 0;
                }

                button {
                    all: unset;
                    width: 100%;
                    cursor: pointer;
                    text-align: center;
                    font-size: 1.7rem;
                    padding: 0.3rem;
                    color: white;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .subLocas {
            display: grid;
            grid-template-rows: repeat(40, 1fr);

            text {
                transition: 0.3s;
                transform-origin: 50% 50% !important;
                cursor: pointer;

                &:hover {
                    font-size: 22px !important;
                    font-weight: 800;
                    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
                }
            }

            .subLoca1 {
                grid-column: 1/2;
                grid-row: 1/41;
                // border: 3px solid black;
                display: none;
            }

            .subLoca2 {
                grid-column: 1/2;
                grid-row: 4/41;
                // border: 3px solid black;
                display: none;
            }

            .subLoca3 {
                grid-column: 1/2;
                grid-row: 7/41;
                // border: 3px solid black;
                display: none;
            }
        }
    }

    // student cards
    .cards {
        grid-column: 7/31;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 3rem;
        flex-wrap: wrap;

        .studentC {
            display: grid;
            grid-template-rows: repeat(20, 1fr);
            grid-template-columns: repeat(12, 1fr);
            width: 15rem;

            svg {
                grid-row: 1/21;
                grid-column: 1/13;
                width: 100%;

                path {
                    fill: $primePurple;
                    stroke-width: 0px;
                }

                polygon {
                    fill: $primePurpleLight;
                    stroke-width: 0px;
                }
            }

            .studentImg {
                grid-row: 3/15;
                grid-column: 1/13;
                padding: 0 0.5rem 0 0.5rem;

                span {
                    display: block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    aspect-ratio: 1/1;
                    border: 0.3rem solid $primePurpleLight;
                }
            }

            .schoolImg {
                grid-row: 11/16;
                grid-column: 2/6;

                span {
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    aspect-ratio: 1/1;
                }
            }

            h4 {
                grid-row: 1/3;
                grid-column: 2/8;
                font-size: 1.3rem;
                color: $primePurple;
                align-self: flex-end;
                justify-self: start;
            }

            h5 {
                grid-row: 14/20;
                grid-column: 5/12;
                font-size: 1.1rem;
                font-weight: 400;
                color: white;
                text-align: end;
                align-self: center;
                justify-self: end;
            }

            h6 {
                grid-row: 1/3;
                grid-column: 8/12;
                font-size: 0.8rem;
                align-self: flex-end;
                justify-self: end;
            }

            .react {
                grid-row: 17/19;
                grid-column: 2/6;
                font-size: 1.2rem;
            }

            .postTags {
                grid-row: 9/16;
                grid-column: 10/13;

                a {
                    all: unset;
                    display: block;
                    background-color: $primePurple;
                    width: fit-content;
                    font-size: 0.5rem;
                    letter-spacing: 0.1rem;
                    padding: 0.3rem;
                    margin: 0.2rem 0 0.2rem 0;
                    border-radius: 5px;
                }
            }
        }
    }

}

.uniListPage {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    width: 100%;

    .sideNav {
        grid-column: 1/12;
        grid-row: 1/2;
        // side bar grid
        display: flex;
        flex-direction: row;

        .selections {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0;

            .locations,
            .topics {
                background-color: $primePurple;
                height: fit-content;
                border-radius: 1rem;
                margin: 0.5rem 0 0.5rem 0;
                padding: 1rem;

                span {
                    background-color: white;
                    display: block;
                    height: 2px;
                    width: 100%;
                    margin: 0.5rem 0 0.5rem 0;
                }

                button {
                    all: unset;
                    width: 100%;
                    cursor: pointer;
                    text-align: center;
                    font-size: 1.7rem;
                    padding: 0.3rem;
                    color: white;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .subLocas {
            display: grid;
            grid-template-rows: repeat(40, 1fr);

            text {
                transition: 0.3s;
                transform-origin: 50% 50% !important;
                cursor: pointer;

                &:hover {
                    font-size: 22px !important;
                    font-weight: 800;
                    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
                }
            }

            .subLoca1 {
                grid-column: 1/2;
                grid-row: 1/41;
                // border: 3px solid black;
                display: none;
                z-index: 3;
            }

            .subLoca2 {
                grid-column: 1/2;
                grid-row: 4/41;
                // border: 3px solid black;
                display: none;
                z-index: 3;
            }

            .subLoca3 {
                grid-column: 1/2;
                grid-row: 7/41;
                // border: 3px solid black;
                display: none;
                z-index: 3;
            }
        }
    }

    .uCardSection {
        grid-column: 7/31;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 3rem;
        flex-wrap: wrap;

        .uniCard {
            margin: 0.3rem;
            background-color: white;
            aspect-ratio: 3/3.5;
            border: 2px solid $primePurple;
            border-radius: 2rem;
            height: fit-content;

            .uniLogo span {
                display: block;
                width: 8rem;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                aspect-ratio: 1/1;
            }

            h6 {
                font-size: 0.8rem;
            }

            h4 {
                font-size: 0.8rem;
                width: 90%;
                text-align: center;
                padding: 2rem;
                background-color: $primePurpleLight;
                color: white;
            }
        }
    }
}

// introduction
.introduction {
    .introCard {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding-left: 3rem;
        gap: 8rem;
        padding-bottom: 8rem;

        div.portriat {
            width: 30%;
            aspect-ratio: 1/1;
            background-position: center;
            background-size: cover;
        }

        .infoSection {
            width: 55%;

            .userName {
                background-color: $primePurpleLight;
                color: white;
                padding: 1rem 1rem 1rem 3rem;
                font-size: 3rem;
                border-radius: 1rem 0 0 1rem;
            }

            .details {
                padding: 1rem;
                border: solid 1px black;
                border-radius: 1rem 0 0 1rem;
                display: grid;
                grid-template-columns: 60% auto;
                grid-template-rows: auto auto;

                .schoolInfo {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    border: solid 1px black;
                    gap: 0.5rem;
                    background-color: $primePurpleLight;
                    border-radius: 1rem;
                    padding: 0.5rem;
                    

                    .schoolImg {
                        width: 5rem;
                        display: block;
                        aspect-ratio: 1/1;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        .schoolNameE, .schoolNameC{
                            color: white;
                            font-size: 1.5rem;
                            margin: 0;
                        }
                    }
                    h3{
                        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                        background-color: white;
                        border: solid 1px black;
                        color: $primePurple;
                        border-radius: 10px;
                        margin: 0;
                    }
                }

                .postCateg {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;
                    width: 100%;
                    padding: 1rem 0 0 0;

                    h4{
                        width: 30%;
                        padding: 0.5rem;
                        background-color: $primePurple;
                        color: white;
                        border-radius: 10px;
                        text-align: center;
                    }
                }

                .skillCateg {
                    grid-column: 2/3;
                    grid-row: 1/3;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 1rem;
                    width: 100%;
                    height: 12rem;
                    padding-left: 1rem;

                    h6 {
                        display: block;
                        padding: 0.5rem;
                        width: 30%;
                        height: fit-content;
                        border: solid 1px $primePurple;
                        background-color: white;
                        color: $primePurple;
                        border-radius: 10px;
                        text-align: center;
                    }
                }
            }

            .interaction {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                .react {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    width: 30%;
                    i {
                        font-size: 2.5rem;
                    }
                }

                .socialBtn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    width: 70%;
                    gap: 3rem;
                    
                    padding: 1rem;
                    a{
                        all: unset;
                        cursor: pointer;
                        display: block;
                        text-align: center;
                        font-size: 1.8rem;
                        border-radius: 10rem;
                        background-color: $primePurple;
                        height: 3rem;
                        width: 12rem;
                        font-size: 2rem;
                        color: white;
                    }
                    
                }
            }


        }


    }

    .detail {
        
        p {
            color: gray;
            font-size: 1.5rem;
        }

        .selfIntro{
            background-color: $lightGray;
            h2{
                background-color: $primePurpleLight;
                color: white;
                width: 40%;
                text-align: end;
                border-radius: 0 1rem 1rem 0;
                padding: 1rem 5rem 1rem 1rem;
                transform: translateY(-2.5rem);
            }

            .selfContent > p{
                    color: black;
                    font-size: 1.2rem;
            }
            .selfContent, .edu, .social, .contact{
                background-color: white;
                margin: 1rem 10rem 1rem 10rem;
                padding: 2rem;
                border-radius: 2rem;
                border: solid 1px black;
                h3{
                    color: $primePurple;
                }
                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    svg{
                        width: 4rem;
                        aspect-ratio: 1/1;
                        path{
                            fill: $darkGray;
                        }
                    }
                    p{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        i{
                            font-size: 4rem;
                        }
                    }

                }
            }


        }

        h2.myArtical{
            background-color: $primePurpleLight;
            color: white;
            width: 40%;
            text-align: end;
            border-radius: 0 1rem 1rem 0;
            padding: 1rem 5rem 1rem 1rem;
            margin-top: 5rem;
            transform: translateY(6rem);
        }

        .postCard {
            
            background-color: $lightGray;
            margin: 5rem;
            padding: 2rem;
            border-radius: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
                .card {
                    margin: 1%;
                    width: 30rem;
                    height: 10rem;
                    padding: 0;
                    border-radius: 20px;
                    border: solid 1px $primePurpleLight !important;
                    display: grid;
                    grid-template-columns: repeat(6, auto);
                    box-shadow: -5px 5px 10px $primeGray;
                    overflow: hidden;
    
                    .imgPart {
                        grid-column: 1/2;
                        grid-row: 1/2;
                        height: 10rem;
                        border-radius: 20px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        aspect-ratio: 1/1;
                    }
    
                    .infoPart {
                        all: unset;
                        display: block;
                        grid-column: 2/7;
                        grid-row: 1/2;
                        padding: 0.5rem;
                        h3{
                            font-size: 1.5rem;
                            font-weight: 200;
                            color: $primePurple;
                        }
                        p{
                            font-size: 1rem;
                            color: $primeGray;
                        }
                        p.content{
                            color: $darkGray;
                        }
                        .react{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            p.date{
                                text-align: end;
                                margin: 0;
                            }
                        }
                        
                    }
                }
        }
    }

    .attachment {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: start;
        gap: 2rem;
        margin: 5rem;
        .file{
            all: unset;
            display: block;
            svg{
                width: 10rem;
                height: 10rem;
                text{
                    overflow-x: hidden;
                }
            }
        }
    }

    .carouselSection {
        .studentC{
            padding: 1rem;
            display: grid;
            grid-template-rows: repeat(20, 1fr);
            grid-template-columns: repeat(12, 1fr);
            svg{
                grid-row: 1/21;
                grid-column: 1/13;
                width: 100%;
                path{fill: $primePurple; stroke-width: 0px;}
                polygon{fill: $primePurpleLight; stroke-width: 0px;}
            }
            .studentImg{
                grid-row: 3/15;
                grid-column: 1/13;
                padding: 0 0.5rem 0 0.5rem;
                span{
                    display: block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    aspect-ratio: 1/1;
                    border: 0.3rem solid $primePurpleLight;
                }
            }
            .schoolImg{
                grid-row: 10/15;
                grid-column: 2/6;
                span{
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    aspect-ratio: 1/1;
                }
            }
            h4{
                grid-row: 1/3;
                grid-column: 2/8;
                font-size: 1.3rem;
                color: $primePurple;
                align-self: flex-end;
                justify-self: start;
            }
            h5{
                grid-row: 13/19;
                grid-column: 5/12;
                font-size: 1.2rem;
                font-weight: 400;
                color: white;
                text-align: end;
                align-self: center;
                justify-self: end;
            }
            h6{
                grid-row: 1/3;
                grid-column: 8/12;
                font-size: 0.8rem;
                align-self: flex-end;
                justify-self: end;
            }
            .react{
                grid-row: 17/19;
                grid-column: 2/6;
                font-size: 1.2rem;
            }
            .postTags{
                grid-row: 8/15;
                grid-column: 9/13;
                p{
                    all: unset;
                    display: block;
                    background-color: $primePurple;
                    width: fit-content;
                    font-size: 0.7rem;
                    letter-spacing: 0.1rem;
                    padding: 0.3rem;
                    margin: 0.2rem 0 0.2rem 0;
                    border-radius: 5px;
                }
            }
        }

        .studentNav {
            // nav btn and dots
            .owl-nav {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                button {
                    span {
                        font-family: "Rubik", sans-serif;
                        font-weight: 900;
                        font-size: 3rem;
                    }
                }
            }

            .owl-dots {
                margin-top: -40px;

                .active {
                    span {
                        width: 20px !important;
                        transition: 0.1s !important;
                    }
                }
            }
        }
    }

    a.moreTag{
        all: unset;
        display: inline-block;
        cursor: pointer;
        color: $primePurple;
        font-size: 1.5rem;
        text-align: end;
        width: 90%;
    }
}

// article-list
.postsSection-artical-list {
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .cardborder {
        border: solid 1px $primePurpleLight;
        box-shadow: 0px 5px 5px $primeGray;
        border-radius: 20px;
        padding: 1%;
        display: flex;
        flex-direction: row;
        width: 45%;
    }

    .postImg {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(5, auto);
        width: 12rem;
        height: 100%;

        .postPhoto {
            border-radius: 20px;
            width: 100%;
            grid-column: 1/6;
            grid-row: 1/5;
        }

        .userimg {
            border-radius: 100%;
            width: 100%;
            grid-column: 1/4;
            grid-row: 3/6;
        }

        p {
            font-size: 1.5rem;
            grid-column: 5/6;
            grid-row: 4/6;
            padding-left: 10px;
            text-align: end;
            padding: 5px 10px 5px 10px;
            margin: 0;
            background-color: $primePurpleLight;
        }
    }

    .postTitle {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: end;

        h5 {
            font-size: 2rem;
            color: $primePurple;
        }

        h5,
        p {
            margin: 0 10px 0 0;
        }

        p {
            font-size: 1rem;
            color: black;
        }
    }

    .content {
        color: $primeGray;
        border-bottom: solid 2px $primeGray;
        margin-top: 3%;

        .readMore {
            width: 100%;
            font-size: 0.8rem;
            text-align: end;
            margin: 0;
            color: $primePurple;
        }
    }

    .socialIcons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        margin-top: 3%;

        i {
            display: flex;
            align-items: center;
            gap: 2px;
            margin: 5px;

            &::after {
                font-size: 1rem;
                font-family: Rubik;
                text-decoration: none;
                font-style: normal;
                align-items: self-end;
            }
        }

        svg {
            width: 2.2rem;

            path {
                fill: black;
            }

            circle {
                fill: none;
                stroke: #000000;
                stroke-width: 9;
                stroke-miterlimit: 10;
            }

        }

        p {
            margin: 0;
            text-align: end;
            color: $primePurple;
            font-size: 0.8rem;
        }
    }
}

// Collect post
.collectPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    h2 {
        width: 100%;
        text-align: center;
        padding: 1rem 3rem;
        background-color: $primePurple;
        color: white;
        border-radius: 1rem;
    }

    .postsSection {
        margin-top: 3rem;
        background-color: $primePurpleLight;
        width: 100%;
        border-radius: 2rem;
        padding: 2rem 3rem 2rem 3rem;

        .cardborder {
            border: solid 1px $primePurpleLight;
            box-shadow: 0px 5px 5px $primeGray;
            border-radius: 20px;
            padding: 1%;
            background-color: white;
            margin: 3rem;
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        .postImg {
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-template-rows: repeat(5, auto);
            width: 12rem;
            height: 100%;

            .postPhoto {
                border-radius: 20px;
                width: 100%;
                grid-column: 1/6;
                grid-row: 1/5;
            }

            .userimg {
                border-radius: 100%;
                width: 4rem;
                grid-column: 1/4;
                grid-row: 3/6;
            }

            p {
                width: 6rem;
                font-size: 1.2rem;
                grid-column: 5/6;
                grid-row: 4/6;
                text-align: end;
                padding: 5px 10px 5px 10px;
                margin: 0.2rem;
                background-color: $primePurpleLight;
                text-wrap: nowrap;
            }
        }

        .postTitle {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: end;

            h5 {
                font-size: 2rem;
                color: $primePurple;
            }

            h5,
            p {
                margin: 0 10px 0 0;
            }

            p {
                font-size: 1rem;
                color: black;
            }
        }

        .content {
            color: $primeGray;
            border-bottom: solid 2px $primeGray;
            margin-top: 3%;

            .readMore {
                width: 100%;
                font-size: 0.8rem;
                text-align: end;
                margin: 0;
                color: $primePurple;
            }
        }

        .socialIcons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            margin-top: 3%;

            i {
                display: flex;
                align-items: center;
                gap: 2px;
                margin: 5px;

                &::after {
                    font-size: 1rem;
                    font-family: Rubik;
                    text-decoration: none;
                    font-style: normal;
                    align-items: self-end;
                }
            }

            svg {
                width: 2.2rem;

                path {
                    fill: black;
                }

                circle {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 9;
                    stroke-miterlimit: 10;
                }

            }

            p {
                margin: 0;
                text-align: end;
                color: $primePurple;
                font-size: 0.8rem;
            }
        }
    }
}

// Create Question
.createQ {
    .progress {
        background-color: white;
        width: 100%;
        height: 2rem;
        border-radius: 30px;

        .pBar {
            height: 2rem;
            width: 50%;
            fill: $primePurple;
        }
    }

    input[type="text"] {
        color: white;
    }
}

// single Article
.singleArticle {
    background-color: $lightGray;
    padding: 2rem 10rem 5rem 10rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, auto);

    .titleDiv {
        grid-column: 1/21;
        grid-row: 1/2;
        background-color: white;
        padding: 2rem;
    }

    .innerDiv {
        grid-column: 1/14;
        grid-row: 2/3;
        background-color: white;
        padding: 2rem;

        img {
            width: 100%;
        }

        .content {
            margin-bottom: 3rem;
        }

        .tagSocial {
            padding-bottom: 1rem;
            border-bottom: solid 2px $darkGray;

            .postCategory {
                a {
                    all: unset;
                    cursor: pointer;
                    padding: 0.5rem;
                    margin: 0 1rem 0 1rem;
                    font-size: 1rem;
                    border-radius: 0.5rem;
                    background-color: $primePurple;
                    color: white;
                }
            }
        }

    }

    .rightDiv {
        grid-column: 14/21;
        grid-row: 2/3;
        background-color: white;
        padding: 2rem;

        h2 {
            font-weight: 400;
            color: $primePurple;
        }

        h5 {
            margin: 0.5rem 0 0 0;
            font-weight: 200;
            color: $primePurple;
        }


        .studentC {
            display: grid;
            grid-template-rows: repeat(20, 1fr);
            grid-template-columns: repeat(12, 1fr);
            width: 15rem;

            border-bottom: solid $lightGray 1px;

            svg {
                grid-row: 1/21;
                grid-column: 1/13;
                width: 100%;

                path {
                    fill: $primePurple;
                    stroke-width: 0px;
                }

                polygon {
                    fill: $primePurpleLight;
                    stroke-width: 0px;
                }
            }

            .studentImg {
                grid-row: 3/15;
                grid-column: 1/13;
                padding: 0 0.5rem 0 0.5rem;

                span {
                    display: block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    aspect-ratio: 1/1;
                    border: 0.3rem solid $primePurpleLight;
                }
            }

            .schoolImg {
                grid-row: 11/16;
                grid-column: 2/6;

                span {
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    aspect-ratio: 1/1;
                }
            }

            h4 {
                grid-row: 1/3;
                grid-column: 2/8;
                font-size: 1.3rem;
                color: $primePurple;
                align-self: flex-end;
                justify-self: start;
            }

            h5 {
                grid-row: 14/20;
                grid-column: 5/12;
                font-size: 1.1rem;
                font-weight: 400;
                color: white;
                text-align: end;
                align-self: center;
                justify-self: end;
            }

            h6 {
                grid-row: 1/3;
                grid-column: 8/12;
                font-size: 0.8rem;
                align-self: flex-end;
                justify-self: end;
            }

            .react {
                grid-row: 17/19;
                grid-column: 2/6;
                font-size: 1.2rem;
            }

            .postTags {
                grid-row: 9/16;
                grid-column: 10/13;

                a {
                    all: unset;
                    display: block;
                    background-color: $primePurple;
                    width: fit-content;
                    font-size: 0.5rem;
                    letter-spacing: 0.1rem;
                    padding: 0.3rem;
                    margin: 0.2rem 0 0.2rem 0;
                    border-radius: 5px;
                }
            }
        }

        .moreArticles {
            all: unset;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            width: 90%;
            margin: 1.5rem 0 1.5rem 0;
            border-bottom: solid 1px $lightGray;

            .bgImg {
                border-radius: 0.5rem;
                width: 40%;
                @include bg_img();
            }

            .meta {
                h3 {
                    font-size: 1rem;
                    font-weight: 200;
                    color: $primePurple;
                    width: 8rem;
                    overflow: hidden;
                    white-space: nowrap;
                }

                p {
                    font-size: 0.7rem;
                    margin: 0;
                }
            }

        }
    }

    .relateArticle {
        grid-column: 1/21;
        grid-row: 3/4;
        background-color: white;

        h2 {
            padding-left: 2rem;
        }

        .cards {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            flex-wrap: wrap;
            gap: 4rem;
            padding: 2rem;


            .moreArticles {
                background-color: white;
                border: 2px solid $primePurpleLight !important;
                border-radius: 15px;
                box-shadow: 3px 3px 3px $lightGray;

                a {
                    all: unset;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 1rem;
                    width: 24rem;
                    gap: 1rem;

                    .imgs {
                        .bgImg {
                            border-radius: 5px 5px 0 0;
                            width: 5rem;
                            display: block;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            aspect-ratio: 1/1;
                        }

                        div.info {
                            display: flex;
                            flex-direction: row;
                            height: 1rem;

                            .authorImg {
                                width: 1.5rem;
                                @include bg_img();
                            }

                            h6 {
                                width: 100%;
                                text-align: center;
                                align-self: center;
                                background-color: $primePurpleLight;
                                color: white;
                                font-size: 0.8rem;
                                margin: 0;
                            }
                        }
                    }


                    h3 {
                        font-size: 1.2rem;
                        font-weight: 200;
                        color: $primePurple;
                    }

                    .postCategory {
                        display: flex;
                        flex-direction: row;
                        height: min-content;

                        p {
                            background-color: $primePurple;
                            color: white;
                            font-weight: 100;
                            margin: 0 0.2rem 0 0.2rem;
                            padding: 0.1rem 0.2rem;
                            font-size: 0.5rem;
                            border-radius: 0.2rem;
                        }
                    }

                    p.body {
                        margin: 0;
                        font-size: 0.6rem;
                        font-weight: 200;
                    }

                    p.readMore {
                        text-align: end;
                        margin: 0;
                        color: $primePurple;
                        font-size: 0.6rem;
                        font-weight: 200;
                    }

                    div.react {
                        border-top: 1px solid $lightGray;
                        padding-top: 1rem;
                        display: flex;
                        flex-direction: row;
                        gap: 1rem;

                        i {
                            width: 10%;
                            font-size: 0.6rem;

                            span {
                                margin: 0 0.2rem 0 0.1rem;
                            }
                        }

                        p.date {
                            width: 80%;
                            text-align: end;
                            margin: 0;
                            color: $primePurple;
                            font-size: 0.6rem;
                            font-weight: 200;
                        }
                    }

                }


            }
        }

        a.toStudyAbroad {
            all: unset;
            cursor: pointer;
            display: block;
            width: 85%;
            text-align: end;
            color: $primePurple;
            font-size: 1.5rem;
        }
    }
}

// footer
footer {
    .col-md-4 {
        img {
            width: 15rem;
            margin: 3rem;
        }

        .copyright {
            font-size: 0.6rem;
        }
    }

    .row {
        height: 100%;

        .col-md-3 {
            display: flex;
            flex-direction: column;
            justify-content: start;
            letter-spacing: 0.5rem;

            h6 {
                font-size: 1.2rem;
                text-align: start;
                margin-bottom: 1rem;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: start;

                a {
                    text-decoration: none;
                    color: white;
                    margin-bottom: 1rem;
                }
            }

        }
    }

}

// QA show section
.question-and-answer-page {
    @include readMore();

    .qaShowToggle {
        @include taggleMenuFunction();
    }

    .qaSection {
        .border-b-line {
            border-bottom: 0.1rem solid #858796 !important;

            .w-75.align-bottom.pt-2 {
                font-size: 1.3rem;
            }
        }

        .attachment {
            // background-color: aqua;
            padding: 1.5rem 0 1.5rem;
            justify-content: space-evenly;

            .file {
                justify-content: start;
                align-items: end;
                width: 8rem;
                height: 8rem;
                border-radius: 10%;
            }
        }

        .avatarName {
            display: grid;

            .nameCard {
                z-index: 1;
                display: flex;
                justify-content: start;
            }
        }

        .contact {
            p {
                margin: 0;
            }

            svg {
                width: 80%;

                text {
                    font-size: 3rem;
                }
            }
        }

        .card-header {
            border-radius: 1rem 1rem 0 0 !important;
        }

        .card-footer {
            border-radius: 0 0 1rem 1rem !important;
            cursor: pointer;

            #joinYZL {
                background-color: $primePurpleLight;
                border-radius: 0 0 0.5rem 0.5rem !important;
                display: none;

                a {
                    background-color: $primePurple;
                    color: white;
                    font-weight: 800;
                    font-size: 2rem;
                    border-radius: 3rem;
                    padding: 8%;
                    text-decoration: none;
                }
            }
        }
    }

    .similarQ {
        .qCards {
            height: 15rem;

            .qStyle {
                padding: 0;

                svg {
                    height: 100%;
                    width: auto;
                }
            }
        }

    }
}

// QA index section
.qa-index-page {
    .qaIndexToggle {
        @include taggleMenuFunction();
    }

    @include readMore();

    .nowPosts {
        .bgImg {
            width: 100%;
            @include bg_img();
        }
    }


}

// university list page
@keyframes toggleIn {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}


@media only screen and (max-width: 1400px) {
    // student card rwd
    .studentC{
        h5{
            font-size: 1rem !important;
        }
        h6{
            grid-column: 3/12 !important;
        }
        .postTags{
            grid-column: 8/14 !important;
            p{
                font-size: 0.5rem !important;
            }
        }
    }

    .introduction .introCard .infoSection .details{
        .status{
            text-align: center;
            width: 8rem;
            font-size: 1rem;
        }
    }
}