// prime colors
$primePurple: #4C2A70;
$primePurpleLight: #BD9EBE;
$primeGray:#C1C1C1;
$darkGray:#5b5b5b;

// basic w&b
$black: #000000;
$white: #ffffff;

// other colors
// btn colors
$playBtn: #ffc9d1;
$playBtnBg: #f91a27;
$homepageBtn: #45ecd9;

// others
$schoolMember: #4676ED;
$ProfileBg:#5E7380;
$trans-navBg: rgba(160, 160, 160, 0.438);