@import "broccoli-color";
// font
@font-face {
    font-family: Rubik;
    src: url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
}

// viewport too wide problem
body{
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

// guest blade php content

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px;
    .navbar-brand{
        padding: 10px;
        grid-column: 1/2;
    }
    .container{
        grid-column: 2/3;
        .collapse{
            justify-content: end;
            .navbar-nav{
                margin-right: 20px;
                li{
                    align-self: center;
                    a{color: white;}
                }
            }
        }
    }
}

// welcome blade php content
@keyframes change {
    from{opacity: 0; transform: translateX(30px);}
    to{opacity: 1; transform: translateX(0px);}
}
header{
    background-color: black;
    width: 100vw;
    .headerCard{
        display: grid;
        grid-template-rows: repeat(12, auto);
        grid-template-columns: repeat(12, auto);
        .banner{
            grid-row: 1/13;
            grid-column: 1/13;
            img{
                width: 100%;
                opacity: 0.7;
            }
        }
        .slogan{
            text-align:left;
            grid-row: 8/10;
            grid-column: 2/6;
            z-index: 2;
            #topic{
                animation: change 1s forwards;
            }
        }
    }
}


// University Card Styles
.uCardSection{
    margin: 10px;
    .row{
        justify-content: end;
    }
    .owl-stage{
        width: max-content !important;
        .owl-item{
            width: 15rem !important;
            margin-right: 2rem !important;
        }
    }
    .cards{
        padding: 0 !important;
        .owl-nav{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            button{
                span{
                    font-family: "Rubik", sans-serif; 
                    font-weight: 900;
                    font-size: 3rem;
                }
            }
        }
        .owl-dots{
            margin-top: -40px;
            .active{
                span{width: 20px; transition: 0.1s;}
            }
        }
    }
}
.item{
    width: 100%;
    border-radius: 30px;
    border: solid 1px $primePurple;
    div{
        .card{
            border: none;
            padding: 10px;
            z-index: -1;
            img{padding: 20px;}
        }
        .name-card {
            padding: 30px;
            background: $primePurpleLight;
            text-align: center;
            border-left: solid 30px white;
            h5{color: white;}
        }
        .info{
            h5{
                text-align: end;
                font-size: 0.9rem;
                a{
                    text-decoration: none;
                    color: $schoolMember;
                    font-size: 1.2rem;
                    margin: 0.5rem;
                }
            }
            margin: 20px;
        }
    }
}

// Student Cards Styles

.studentNav{
    .owl-stage{
        width: max-content !important;
    }
    .owl-item{
        width: auto !important;
    }
    // nav btn and dots
    .owl-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        button{
            span{
                font-family: "Rubik", sans-serif; 
                font-weight: 900;
                font-size: 3rem;
            }
        }
    }
    .owl-dots{
        margin-top: -40px;
        .active{
            span{width: 20px !important; transition: 0.1s !important;}
        }
    }
}

.studentC{
    height: 24.5rem !important;
    padding: 10px;
    display: grid;
    grid-template-rows: auto 30px;
    max-width: 18.5rem;
    min-width: 17rem;
    .cards{
        grid-column: 1/2;
        display: grid;
        grid-template-rows: repeat(12,auto);
        height: 100%;
        .studentProfile{
            grid-row: 1/8;
            grid-column: 1/2;
            display: grid;
            grid-template-columns: repeat(5,auto);
            grid-template-rows: repeat(12, auto);
            .studentImg{
                padding: 0;
                grid-column: 1/4;
                grid-row: 1/13;
                img{
                    padding: 2px; 
                    border-radius: 15%;
                    width: 10rem;
                    height: 10rem;
                }
            }
            .videoBtn {
                grid-column: 4/5;
                grid-row: 3/6;
                padding: 30px;
            }
            .react{
                    grid-column: 4/6;
                    grid-row: 6/8;
                .fa-heart{
                    font-size:15px; 
                    color:red; 
                    margin:5px;
                    span{color: black; font-family: 'Rubik';}
                }
                .fa-bookmark{span{font-family: 'Rubik';}}
            }
        }
        .name-card{
            grid-row: 7/10;
            grid-column: 1/2;
            padding: 0 !important;
            justify-self: end;
            border: none;
            width: 80%;
            color: white;
        }
        .postTags{
            grid-row: 10/11;
            grid-column: 1/2;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            span{
                font-size:12px;
                padding: 5px;
                margin:5px;
                background: #4C2A70;
                color:#FFFFFF;
            }
        }
        .skillTags{
            grid-row: 11/13;
            grid-column: 1/2;
            text-align: center;
            margin-bottom:5px;
            margin-top:5px;
            text-align: center;
            span{
                font-size:12px;
                padding: 5px;
                margin: 5px;
                line-height: 35px;
                color: $primePurple;
                border: 1px solid $primePurple;
                border-radius:5px;
            }
        }
    }
    p{
        grid-column: 2/3;
        width: 100%;
        text-align: center;
        margin: 0;
    }
}



// QA section
#Qa{
    .qaSection{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        margin-bottom: 30px;
        .card{
            border: solid 2px $primePurple;
            border-radius: 10%;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                margin: 5px;
            }
            h5{background-color: $homepageBtn; 
                color: white;
                font-size: 1rem; 
                font-weight: 800;
                width: 80%;
                text-align: center;
                padding: 5%;
            }
            p{color: $schoolMember; font-size: 0.8rem;}
        }
    }
    a{font-size: 1.5rem; letter-spacing: 0.5rem; font-weight: 500; color: $primeGray;}
}

// join section
.joinSection{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        background-image: url("../uploads/images/join-banner.jpeg");
        width: 85%;
        height: 25rem;
        background-position: center;
        background-size: 100%;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 10%;
        p{color: white; font-size: 3rem; font-weight: 800; text-shadow: 0px 5px 5px black;}
    }
}

// news section
.newsSection{
    div{
        margin: 30px 10px 10px 10px;
    }
    .bg-light{
        padding: 30px;
        padding-left: 100px;
        padding-right: 100px;
        overflow-x: hidden;
        .newsCard{
            display: grid;
            grid-template-columns: 40% 60%;
            background-color: white;
            border-radius: 10px;
            img{
                width: 100%; 
                aspect-ratio: 16/9;
                margin: 10px;
            }
            .info{
                background-color: white;
                display: flex;
                justify-content: space-around;
                align-items: start;
                flex-direction: column;
                padding: 10px;
                margin: 0;
                h5, p{margin: 0;}
                h5{
                    border-left: solid 5px red; 
                    letter-spacing: 0.2em;
                    padding-left: 5px;
                }
                .tag{font-size: 0.8rem; color: $schoolMember;}
                .meta{
                    border-bottom: solid 1px gray; 
                    width: 100%;
                    font-weight: 800;
                }
                .brief{color: gray;}
                a{width: 100%; text-align: end;}
            }
        }
    }
}

// local Older
.localOlder{
    margin: 10px;
    h6{ padding-left: 10px; border-left: solid red 5px;}
    div{
        display: flex;
        flex-direction: row;
    }
}

// footer
footer a {
    text-decoration: none;
    color: white;
}
footer .col-md-3 p {
    font-size: 1.5rem;
}