@font-face {
  font-family: Rubik;
  src: url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
}
body {
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}
.navbar .navbar-brand {
  padding: 10px;
}
.navbar .navbar-brand #logoImg {
  width: 20vw;
}
.navbar .container {
  margin: 1vw;
}
.navbar .container .collapse {
  justify-content: end;
}
.navbar .container .collapse .navbar-nav li {
  align-self: center;
}
.navbar .container .collapse .navbar-nav li a {
  font-size: 1.5vw;
  color: white;
  margin-right: 1vw;
}
.navbar .container .collapse .navbar-nav li svg {
  width: 7vw;
}

@keyframes change {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.innerheader {
  background-color: black;
  width: 100vw;
  aspect-ratio: 16/8.5;
  overflow-y: hidden;
}
.innerheader .headerCard {
  display: grid;
  grid-template-rows: repeat(12, auto);
  grid-template-columns: repeat(12, auto);
}
.innerheader .headerCard .banner {
  grid-row: 1/13;
  grid-column: 1/13;
}
.innerheader .headerCard .banner div .bgImg {
  display: block;
  width: 100vw !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  aspect-ratio: 16/9;
  filter: opacity(0.6);
}
.innerheader .headerCard .slogan {
  text-align: left;
  grid-row: 7/9;
  grid-column: 2/6;
  z-index: 2;
}
.innerheader .headerCard .slogan h1 {
  font-size: 5vw;
}
.innerheader .headerCard .slogan #topic {
  animation: change 1s forwards;
}
.innerheader .headerCard svg {
  grid-row: 1/13;
  grid-column: 1/13;
  z-index: 1;
}
.innerheader .headerCard svg polygon {
  fill: #4C2A70;
}

.innerbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.innerbody section {
  width: 1400px;
  margin: 10rem 0 10rem 0;
}
.innerbody .studentSection .title, .innerbody .uCardSection .title, .innerbody .qaSection .title, .innerbody .newsSection .title {
  all: unset;
  cursor: pointer;
  display: block;
  color: white;
  background: #4C2A70;
  width: 20vw;
  padding: 1vw;
  border-radius: 0 1vw 1vw 0;
  font-size: 2vw;
  text-align: end;
  margin-bottom: 1vw;
  position: absolute;
  left: 0;
  transform: translateY(-10rem);
}
.innerbody .studentSection .owl-nav, .innerbody .uCardSection .owl-nav, .innerbody .qaSection .owl-nav, .innerbody .newsSection .owl-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.innerbody .studentSection .owl-nav button span, .innerbody .uCardSection .owl-nav button span, .innerbody .qaSection .owl-nav button span, .innerbody .newsSection .owl-nav button span {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 3vw;
}
.innerbody .studentSection .owl-dots, .innerbody .uCardSection .owl-dots, .innerbody .qaSection .owl-dots, .innerbody .newsSection .owl-dots {
  margin-top: -0.5vw;
}
.innerbody .studentSection .owl-dots .active span, .innerbody .uCardSection .owl-dots .active span, .innerbody .qaSection .owl-dots .active span, .innerbody .newsSection .owl-dots .active span {
  width: 1vw !important;
  transition: 0.1s !important;
}
.innerbody .studentSection {
  margin: 1vw 0 1vw 0;
}
.innerbody .studentSection .owl-carousel {
  transform: scale(1.1);
}
.innerbody .studentSection .owl-carousel .studentC {
  margin: 0.5vw;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(12, 1fr);
  aspect-ratio: 3/4;
}
.innerbody .studentSection .owl-carousel .studentC svg {
  grid-row: 1/21;
  grid-column: 1/13;
  width: 100%;
}
.innerbody .studentSection .owl-carousel .studentC svg path {
  fill: #4C2A70;
  stroke-width: 0px;
}
.innerbody .studentSection .owl-carousel .studentC svg polygon {
  fill: #BD9EBE;
  stroke-width: 0px;
}
.innerbody .studentSection .owl-carousel .studentC .studentImg {
  grid-row: 3/15;
  grid-column: 1/13;
  padding: 0 0.5vw 0 0.5vw;
}
.innerbody .studentSection .owl-carousel .studentC .studentImg span {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 1/1;
  border: 0.3rem solid #BD9EBE;
}
.innerbody .studentSection .owl-carousel .studentC .schoolImg {
  grid-row: 13/15;
  grid-column: 2/6;
}
.innerbody .studentSection .owl-carousel .studentC .schoolImg span {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  aspect-ratio: 1/1;
}
.innerbody .studentSection .owl-carousel .studentC h4 {
  grid-row: 1/3;
  grid-column: 2/8;
  font-size: 1vw;
  color: #4C2A70;
  align-self: flex-end;
  justify-self: start;
  text-overflow: clip;
}
.innerbody .studentSection .owl-carousel .studentC h5 {
  grid-row: 18/20;
  grid-column: 5/12;
  font-size: 1vw;
  font-weight: 400;
  color: white;
  text-align: end;
  align-self: center;
  justify-self: end;
}
.innerbody .studentSection .owl-carousel .studentC h6 {
  grid-row: 1/3;
  grid-column: 8/12;
  font-size: 0.5vw;
  text-overflow: clip;
  align-self: flex-end;
  justify-self: end;
}
.innerbody .studentSection .owl-carousel .studentC .react {
  grid-row: 20/21;
  grid-column: 1/5;
  font-size: 0.7vw;
  padding: 0.1vw;
}
.innerbody .studentSection .owl-carousel .studentC .postTags {
  grid-row: 11/15;
  grid-column: 10/13;
}
.innerbody .studentSection .owl-carousel .studentC .postTags a {
  all: unset;
  display: block;
  background-color: #4C2A70;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.35vw;
  letter-spacing: 0.05vw;
  padding: 0.2vw;
  margin: 0.1vw 0 0.1vw 0;
  border-radius: 0.1vw;
}
.innerbody .studentSection .readmore {
  all: unset;
  cursor: pointer;
  display: block;
  text-align: end;
  color: #4C2A70;
  font-size: 1vw;
  padding: 0 2vw 0 2vw;
}
.innerbody .uCardSection .sliderUni {
  margin: 0;
  padding: 1rem 0 0 0;
  background-color: #e2d8e2;
  border-radius: 30px;
}
.innerbody .uCardSection .sliderUni .uniCard {
  margin: 0.3rem;
  background-color: white;
  aspect-ratio: 3/4;
  border: 2px solid #4C2A70;
  border-radius: 2rem;
  transform: scale(0.8);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.innerbody .uCardSection .sliderUni .uniCard .uniLogo span {
  display: block;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  aspect-ratio: 1/1;
}
.innerbody .uCardSection .sliderUni .uniCard h6 {
  font-size: 0.8rem;
}
.innerbody .uCardSection .sliderUni .uniCard h5 {
  font-size: 1rem;
}
.innerbody .uCardSection .sliderUni .uniCard h4 {
  font-size: 1rem;
  width: 90%;
  height: 40%;
  text-align: center;
  align-content: center;
  padding: 1rem;
  background-color: #BD9EBE;
  color: white;
}
.innerbody .uCardSection .sliderUni .uniCard.slick-center {
  transition: 0.5s;
  transform: scale(1);
}
.innerbody .uCardSection .sliderUni .slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.innerbody .uCardSection .sliderUni .slick-dots li {
  list-style-type: none;
  display: block;
}
.innerbody .uCardSection .sliderUni .slick-dots li button {
  all: unset;
  display: block;
  font-size: 0.5rem;
  color: #BD9EBE;
  width: 20px;
  margin: 1rem;
  border-radius: 30px;
  background-color: #BD9EBE;
  cursor: pointer;
}
.innerbody .uCardSection .sliderUni .slick-dots .slick-active > button {
  transition: 0.5s !important;
  color: #4C2A70;
  background-color: #4C2A70;
}
.innerbody .uCardSection .readmore {
  all: unset;
  cursor: pointer;
  display: block;
  text-align: end;
  color: #4C2A70;
  font-size: 1vw;
  padding: 0 2vw 0 2vw;
  transform: translateY(-4rem);
}
.innerbody .qaSection {
  max-width: 1800px;
  margin: 0rem 10rem 12rem 10rem;
}
.innerbody .qaSection .qaCard {
  border: #BD9EBE 0.2rem solid;
  margin: 1rem;
  height: 10rem;
  border-radius: 30px;
  padding: 0;
  overflow: hidden;
}
.innerbody .qaSection .qaCard div {
  background-color: #BD9EBE;
  border-radius: 0 30px 30px 0;
}
.innerbody .qaSection .qaCard div a {
  all: unset;
  display: block;
  color: white;
  padding: 0.2rem;
}
.innerbody .qaSection .qaCard div .categName {
  font-size: 2rem;
}
.innerbody .qaSection .readmore {
  all: unset;
  cursor: pointer;
  display: block;
  text-align: end;
  color: #4C2A70;
  font-size: 1vw;
  padding: 0 2vw 0 2vw;
}
.innerbody .joinSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 100vw;
}
.innerbody .joinSection div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2vw;
  width: 95%;
  height: 30rem;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
}
.innerbody .joinSection div a {
  all: unset;
  background-color: #4C2A70;
  color: white;
  border-radius: 0.2vw;
  cursor: pointer;
  font-size: 1.5vw;
  padding: 0.2vw;
  box-shadow: 0px 5px 5px black;
}
.innerbody .joinSection div p {
  color: white;
  font-size: 5rem;
  font-weight: 800;
  text-shadow: 0px 2px 2px black;
  margin: 0;
}
.innerbody .newsSection {
  margin-top: 100px;
  width: 100vw;
}
.innerbody .newsSection .newsbg {
  padding: 3vw;
  overflow-x: hidden;
  background-color: #e2d8e2;
}
.innerbody .newsSection .newsbg .newsCard {
  padding: 5vw;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: white;
  border-radius: 1vw;
}
.innerbody .newsSection .newsbg .newsCard .bgImg {
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/9;
  margin: 10px;
}
.innerbody .newsSection .newsbg .newsCard .info {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  overflow-x: hidden;
}
.innerbody .newsSection .newsbg .newsCard .info h5, .innerbody .newsSection .newsbg .newsCard .info p {
  margin: 0;
  font-size: 1.5vw;
}
.innerbody .newsSection .newsbg .newsCard .info h5 {
  border-left: solid 0.5vw red;
  letter-spacing: 0.1vw;
  padding-left: 0.1vw;
}
.innerbody .newsSection .newsbg .newsCard .info .tags {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 80%;
  margin: 0;
}
.innerbody .newsSection .newsbg .newsCard .info .tags p {
  background-color: #4C2A70;
  color: white;
  padding: 0.1vw;
  margin-right: 0.2vw;
  border-radius: 0.2vw;
}
.innerbody .newsSection .newsbg .newsCard .info .meta {
  border-bottom: solid 0.1vw gray;
  width: 100%;
  font-weight: 800;
}
.innerbody .newsSection .newsbg .newsCard .info .brief {
  color: gray;
  text-overflow: clip;
}
.innerbody .newsSection .newsbg .newsCard .info .fullArticle {
  all: unset;
  cursor: pointer;
  display: block;
  width: 100%;
  color: #4C2A70;
  text-align: end;
  font-size: 1.5vw;
}
.innerbody .localOlder {
  width: 100vw;
  margin: 3rem 1rem 1rem 1rem;
  padding: 0 3rem 0 3rem;
}
.innerbody .localOlder h6 {
  font-size: 2vw;
  padding-left: 0.1vw;
  border-left: solid red 0.5vw;
  margin-bottom: 0.1vw;
}
.innerbody .localOlder div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
}
.innerbody .localOlder div p, .innerbody .localOlder div a {
  font-size: 1.5vw;
}

.footer {
  display: flex;
  flex-direction: row;
}
.footer div.left {
  width: 30%;
  border-right: solid 0.1vw white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer div.left img {
  width: 20vw;
  margin: 1.5vw;
}
.footer div.left .copyright {
  color: white;
  font-size: 0.7vw;
}
.footer div.right {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer div.right .topic {
  display: flex;
  flex-direction: column;
  justify-content: start;
  letter-spacing: 0.1vw;
  margin: 1.5vw;
}
.footer div.right .topic h6 {
  color: white;
  font-size: 1.5vw;
  text-align: start;
  margin-bottom: 1vw;
}
.footer div.right .topic div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer div.right .topic div a {
  all: unset;
  cursor: pointer;
  font-size: 1vw;
  text-decoration: none;
  color: white;
  margin-bottom: 1vw;
}

@media only screen and (max-width: 1500px) {
  .title {
    transform: translateY(-6rem) !important;
  }
  .studentSection .owl-carousel {
    transform: scale(0.7);
  }
  .studentSection .owl-carousel .studentC h5 {
    font-size: 1rem !important;
  }
  .studentSection .owl-carousel .studentC h6 {
    grid-column: 3/12 !important;
  }
  .studentSection .owl-carousel .studentC .postTags {
    grid-column: 9/14 !important;
  }
  .studentSection .owl-carousel .studentC .postTags p {
    font-size: 0.2rem !important;
  }
  .joinSection a, .joinSection p {
    font-size: 2rem !important;
  }
}/*# sourceMappingURL=welcomeP.css.map */