@import "broccoli-color";
// font
@font-face {
    font-family: Rubik;
    src: url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
}

// viewport too wide problem
body{
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

// guest blade php content

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px;
    .navbar-brand{
        padding: 10px;
        grid-column: 1/2;
        #logoImg{width: 16rem;}
    }
    .container{
        grid-column: 2/3;
        .collapse{
            justify-content: end;
            .navbar-nav{
                margin-right: 20px;
                li{
                    align-self: center;
                    a{color: white;}
                }
            }
        }
    }
}

// welcome blade php content
@keyframes change {
    from{opacity: 0; transform: translateX(30px);}
    to{opacity: 1; transform: translateX(0px);}
}
header{
    background-color: black;
    width: 100vw;
    aspect-ratio: 16/8.5;
    overflow-y: hidden;
    .headerCard{
        display: grid;
        grid-template-rows: repeat(12, auto);
        grid-template-columns: repeat(12, auto);
        .banner{
            grid-row: 1/13;
            grid-column: 1/13;
            div{
                .bgImg{
                    display: block;
                    width: 100vw !important;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: top;
                    aspect-ratio: 16/9; 
                    filter: opacity(0.6);
                }
            }

        }
        .slogan{
            text-align:left;
            grid-row: 7/9;
            grid-column: 2/6;
            z-index: 2;
            h1{font-size: 4rem;}
            #topic{
                animation: change 1s forwards;
            }
        }
        svg{
            grid-row: 1/13;
            grid-column: 1/13;
            z-index: 1;
            polygon{
                fill:$primePurple;
            }
        }
    }
}

// setcion titles
.studentSection, .uCardSection, .qaSection, .newsSection{
    .title{
        all: unset;
        cursor: pointer;
        display: block;
        color: white;
        background: $primePurple; 
        width: 20vw;
        padding: 1rem;
        border-radius: 0 1rem 1rem 0; 
        font-size: 2rem; 
        text-align:end;
        margin-bottom: 1rem;
    }
    // navigation styles
    .owl-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        button{
            span{
                font-family: "Rubik", sans-serif; 
                font-weight: 900;
                font-size: 3rem;
            }
        }
    }
    .owl-dots{
        margin-top: -40px;
        .active{
            span{width: 20px !important; transition: 0.1s !important;}
        }
    }
}

// Student Cards Styles
.studentSection{
    margin: 10rem 0 10rem 0;
        // item styles
        .studentC{
            padding: 1rem;
            display: grid;
            grid-template-rows: repeat(20, 1fr);
            grid-template-columns: repeat(12, 1fr);
            svg{
                grid-row: 1/21;
                grid-column: 1/13;
                width: 100%;
                path{fill: $primePurple; stroke-width: 0px;}
                polygon{fill: $primePurpleLight; stroke-width: 0px;}
            }
            .studentImg{
                grid-row: 3/15;
                grid-column: 1/13;
                padding: 0 0.5rem 0 0.5rem;
                span{
                    display: block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    aspect-ratio: 1/1;
                    border: 0.3rem solid $primePurpleLight;
                }
            }
            .schoolImg{
                grid-row: 10/15;
                grid-column: 2/6;
                span{
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    aspect-ratio: 1/1;
                }
            }
            h4{
                grid-row: 1/3;
                grid-column: 2/8;
                font-size: 1.3rem;
                color: $primePurple;
                align-self: flex-end;
                justify-self: start;
            }
            h5{
                grid-row: 13/19;
                grid-column: 5/12;
                font-size: 1.2rem;
                font-weight: 400;
                color: white;
                text-align: end;
                align-self: center;
                justify-self: end;
            }
            h6{
                grid-row: 1/3;
                grid-column: 8/12;
                font-size: 0.8rem;
                align-self: flex-end;
                justify-self: end;
            }
            .react{
                grid-row: 17/19;
                grid-column: 2/6;
                font-size: 1.2rem;
            }
            .postTags{
                grid-row: 8/15;
                grid-column: 10/13;
                a{
                    all: unset;
                    display: block;
                    background-color: $primePurple;
                    width: fit-content;
                    font-size: 0.7rem;
                    letter-spacing: 0.1rem;
                    padding: 0.3rem;
                    margin: 0.2rem 0 0.2rem 0;
                    border-radius: 5px;
                }
            }
        }
}

.uCardSection{
    .sliderUni{
        margin: 5rem;
        padding: 1rem 0 0 0;
        background-color: $primePurpleLighter;
        border-radius: 30px;
        .uniCard{
            margin: 0.3rem;
            background-color: white;
            aspect-ratio: 3/4;
            border: 2px solid $primePurple;
            border-radius: 2rem;
            transform: scale(0.8);
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .uniLogo span{
                display: block;
                height: 5rem;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                aspect-ratio: 1/1;
            }
            h6{
                font-size: 0.8rem;
            }
            h5{
                font-size: 1rem;
            }
            h4{
                font-size: 1rem;
                height: 40%;
                text-align: center;
                align-content: center;
                padding: 1rem;
                background-color: $primePurpleLight;
                color: white;
            }
        }
        .uniCard.slick-center{
            transition: 0.5s;
            transform: scale(1);
        }
        .slick-dots{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            li{
                list-style-type: none;
                display:block;
                button{
                    all: unset;
                    display: block;
                    font-size: 0.5rem;
                    color: $primePurpleLight;
                    width: 20px;
                    margin: 1rem;
                    border-radius: 30px;
                    background-color: $primePurpleLight;
                    cursor: pointer;
                }
            }
            .slick-active > button{
                transition: 0.5s !important;
                color: $primePurple;
                background-color: $primePurple ;
            }
        }
    }
}

// QA section
.qaSection{
    margin-bottom: 12rem;
    .qaCard{
        border: $primePurpleLight 0.2rem solid;
        margin: 1rem;
        height: 10rem;
        border-radius: 30px;
        padding: 0;
        overflow: hidden;
        div{
            background-color: $primePurpleLight;
            border-radius: 0 30px 30px 0;
            a{
                all: unset;
                display: block;
                color: white;
                padding: 0.2rem;
            }
            .categName{font-size: 2rem;}
        }
    }
}

// join section
.joinSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center; 
    background-size: cover;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        width: 95%;
        height: 25rem;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 10%;
        a{
            all: unset;
            background-color: $primePurple;
            color: white;
            border-radius: 0.8rem;
            cursor: pointer; 
            font-size: 2rem;
            padding: 1rem;
            box-shadow: 0px 5px 5px black;
        }
        p{color: white; font-size: 5rem; font-weight: 800; text-shadow: 0px 2px 2px black; margin: 0;}
    }
}

// news section
.newsSection{
    margin-top: 100px;
    .newsbg{
        padding: 100px 30px 80px 30px;
        overflow-x: hidden;
        background-color: $primePurpleLighter;
        .newsCard{
            padding: 50px;
            display: grid;
            grid-template-columns: 40% 60%;
            background-color: white;
            border-radius: 10px;
            .bgImg{
                display: block;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                aspect-ratio: 16/9;
                margin: 10px;
            }
            .info{
                background-color: white;
                display: flex;
                justify-content: space-around;
                align-items: start;
                flex-direction: column;
                padding: 10px;
                margin: 0;
                overflow-x: hidden;
                h5, p{margin: 0;}
                h5{
                    border-left: solid 5px red; 
                    letter-spacing: 0.2em;
                    padding-left: 5px;
                }
                .tags{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    width: 80%;
                    margin: 0;
                    p{
                        background-color: $primePurple;
                        color: white;
                        padding: 2px 5px 2px 5px;
                        margin-right: 10px;
                        border-radius: 5px;
                    }
                }
                .meta{
                    border-bottom: solid 1px gray; 
                    width: 100%;
                    font-weight: 800;
                }
                .brief{color: gray; text-overflow: clip;}
                a{width: 100%; text-align: end;}
            }
        }
    }
}

// local Older
.localOlder{
    margin: 3rem 1rem 1rem 1rem;
    padding: 0 3rem 0 3rem;
    h6{ font-size: 1.5rem; padding-left: 10px; border-left: solid red 5px; margin-bottom: 2rem;}
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 600;
    }
}

// footer

footer{
    .col-md-4{
        img{
            width: 15rem;
            margin: 3rem;
        }
        .copyright{
            font-size: 0.6rem;
        }
    }
    .row{
        height: 100%;
        .col-md-3{
            display: flex;
            flex-direction: column;
            justify-content: start;
            letter-spacing: 0.5rem;
            h6{font-size: 1.2rem; text-align: start;margin-bottom: 1rem;}
            div{
                display: flex;
                flex-direction: column;
                align-items: start;
                a{
                    text-decoration: none;
                    color: white;
                    margin-bottom: 1rem;
                }
            }

        }
    }
    
}

@media only screen and (max-width: 1400px) {
    .studentC{
        h5{
            font-size: 1rem !important;
        }
        h6{
            grid-column: 3/12 !important;
        }
        .postTags{
            grid-column: 9/14 !important;
            p{
                font-size: 0.2rem !important;
            }
        }
    }

    .joinSection{
        a, p{
            font-size: 2rem !important;
        }
    }

}
