@import "broccoli-color";
// font
@font-face {
    font-family: Rubik;
    src: url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
}

// viewport too wide problem
body{
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

// guest blade php content

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    .navbar-brand{
        padding: 10px;
        #logoImg{width: 20vw;}
    }
    .container{
        margin: 1vw;
        .collapse{
            justify-content: end;
            .navbar-nav{
                li{
                    align-self: center;
                    a{
                        font-size: 1.5vw;
                        color: white;
                        margin-right: 1vw;
                    }
                    svg{
                        width: 7vw;
                    }
                }
            }
        }
    }
}

// welcome blade php content
@keyframes change {
    from{opacity: 0; transform: translateX(30px);}
    to{opacity: 1; transform: translateX(0px);}
}
.innerheader{
    background-color: black;
    width: 100vw;
    aspect-ratio: 16/8.5;
    overflow-y: hidden;
    .headerCard{
        display: grid;
        grid-template-rows: repeat(12, auto);
        grid-template-columns: repeat(12, auto);
        .banner{
            grid-row: 1/13;
            grid-column: 1/13;
            div{
                .bgImg{
                    display: block;
                    width: 100vw !important;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: top;
                    aspect-ratio: 16/9; 
                    filter: opacity(0.6);
                }
            }

        }
        .slogan{
            text-align:left;
            grid-row: 7/9;
            grid-column: 2/6;
            z-index: 2;
            h1{font-size: 5vw;}
            #topic{
                animation: change 1s forwards;
            }
        }
        svg{
            grid-row: 1/13;
            grid-column: 1/13;
            z-index: 1;
            polygon{
                fill:$primePurple;
            }
        }
    }
}


.innerbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
section{
    width: 1400px;
    margin: 10rem 0 10rem 0;
}
.studentSection, .uCardSection, .qaSection, .newsSection{
    .title{
        all: unset;
        cursor: pointer;
        display: block;
        color: white;
        background: $primePurple; 
        width: 20vw;
        padding: 1vw;
        border-radius: 0 1vw 1vw 0; 
        font-size: 2vw; 
        text-align:end;
        margin-bottom: 1vw;
        position: absolute;
        left: 0;
        transform: translateY(-10rem);
    }
    // navigation styles
    .owl-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        button{
            span{
                font-family: "Rubik", sans-serif; 
                font-weight: 900;
                font-size: 3vw;
            }
        }
    }
    .owl-dots{
        margin-top: -0.5vw;
        .active{
            span{width: 1vw !important; transition: 0.1s !important;}
        }
    }
}

// Student Cards Styles
.studentSection{
    margin: 1vw 0 1vw 0;
    .owl-carousel{
        transform: scale(1.1);
        // item styles
        .studentC{
            margin: 0.5vw;
            display: grid;
            grid-template-rows: repeat(20, 1fr);
            grid-template-columns: repeat(12, 1fr);
            aspect-ratio: 3/4;
            svg{
                grid-row: 1/21;
                grid-column: 1/13;
                width: 100%;
                path{fill: $primePurple; stroke-width: 0px;}
                polygon{fill: $primePurpleLight; stroke-width: 0px;}
            }
            .studentImg{
                grid-row: 3/15;
                grid-column: 1/13;
                padding: 0 0.5vw 0 0.5vw;
                span{
                    display: block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    aspect-ratio: 1/1;
                    border: 0.3rem solid $primePurpleLight;
                }
            }
            .schoolImg{
                grid-row: 13/15;
                grid-column: 2/6;
                span{
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    aspect-ratio: 1/1;
                }
            }
            h4{
                grid-row: 1/3;
                grid-column: 2/8;
                font-size: 1vw;
                color: $primePurple;
                align-self: flex-end;
                justify-self: start;
                text-overflow:clip;
            }
            h5{
                grid-row: 18/20;
                grid-column: 5/12;
                font-size: 1vw;
                font-weight: 400;
                color: white;
                text-align: end;
                align-self: center;
                justify-self: end;
            }
            h6{
                grid-row: 1/3;
                grid-column: 8/12;
                font-size: 0.5vw;
                text-overflow: clip;
                align-self: flex-end;
                justify-self: end;
            }
            .react{
                grid-row: 20/21;
                grid-column: 1/5;
                font-size: 0.7vw;
                padding: 0.1vw;
            }
            .postTags{
                grid-row: 11/15;
                grid-column: 10/13;
                a{
                    all: unset;
                    display: block;
                    background-color: $primePurple;
                    width: fit-content;
                    font-size: 0.35vw;
                    letter-spacing: 0.05vw;
                    padding: 0.2vw;
                    margin: 0.1vw 0 0.1vw 0;
                    border-radius: 0.1vw;
                }
            }
        }
    }
    .readmore{
        all: unset;
        cursor: pointer;
        display: block;
        text-align: end;
        color: $primePurple;
        font-size: 1vw;
        padding: 0 2vw 0 2vw;
    }
}

.uCardSection{
    .sliderUni{
        margin: 0;
        padding: 1rem 0 0 0;
        background-color: $primePurpleLighter;
        border-radius: 30px;
        .uniCard{
            margin: 0.3rem;
            background-color: white;
            aspect-ratio: 3/4;
            border: 2px solid $primePurple;
            border-radius: 2rem;
            transform: scale(0.8);
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .uniLogo span{
                display: block;
                height: 5rem;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                aspect-ratio: 1/1;
            }
            h6{
                font-size: 0.8rem;
            }
            h5{
                font-size: 1rem;
            }
            h4{
                font-size: 1rem;
                width: 90%;
                height: 40%;
                text-align: center;
                align-content: center;
                padding: 1rem;
                background-color: $primePurpleLight;
                color: white;
            }
        }
        .uniCard.slick-center{
            transition: 0.5s;
            transform: scale(1);
        }
        .slick-dots{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            li{
                list-style-type: none;
                display:block;
                button{
                    all: unset;
                    display: block;
                    font-size: 0.5rem;
                    color: $primePurpleLight;
                    width: 20px;
                    margin: 1rem;
                    border-radius: 30px;
                    background-color: $primePurpleLight;
                    cursor: pointer;
                }
            }
            .slick-active > button{
                transition: 0.5s !important;
                color: $primePurple;
                background-color: $primePurple ;
            }
        }
    }
    .readmore{
        all: unset;
        cursor: pointer;
        display: block;
        text-align: end;
        color: $primePurple;
        font-size: 1vw;
        padding: 0 2vw 0 2vw;
        transform: translateY(-4rem);
    }
}

// QA section
.qaSection{
    max-width: 1800px;
    margin: 0rem 10rem 12rem 10rem;
    .qaCard{
        border: $primePurpleLight 0.2rem solid;
        margin: 1rem;
        height: 10rem;
        border-radius: 30px;
        padding: 0;
        overflow: hidden;
        div{
            background-color: $primePurpleLight;
            border-radius: 0 30px 30px 0;
            a{
                all: unset;
                display: block;
                color: white;
                padding: 0.2rem;
            }
            .categName{font-size: 2rem;}
        }
    }
    .readmore{
        all: unset;
        cursor: pointer;
        display: block;
        text-align: end;
        color: $primePurple;
        font-size: 1vw;
        padding: 0 2vw 0 2vw;
    }
}

// join section
.joinSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center; 
    background-size: cover;
    width: 100vw;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 2vw;
        width: 95%;
        height: 30rem;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 10%;
        a{
            all: unset;
            background-color: $primePurple;
            color: white;
            border-radius: 0.2vw;
            cursor: pointer; 
            font-size: 1.5vw;
            padding: 0.2vw;
            box-shadow: 0px 5px 5px black;
        }
        p{color: white; font-size: 5rem; font-weight: 800; text-shadow: 0px 2px 2px black; margin: 0;}
    }
}

// news section
.newsSection{
    margin-top: 100px;
    width: 100vw;
    .newsbg{
        padding: 3vw;
        overflow-x: hidden;
        background-color: $primePurpleLighter;
        .newsCard{
            padding: 5vw;
            display: grid;
            grid-template-columns: 40% 60%;
            background-color: white;
            border-radius: 1vw;
            .bgImg{
                display: block;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                aspect-ratio: 16/9;
                margin: 10px;
            }
            .info{
                background-color: white;
                display: flex;
                justify-content: space-around;
                align-items: start;
                flex-direction: column;
                padding: 10px;
                margin: 0;
                overflow-x: hidden;
                h5, p{margin: 0; font-size: 1.5vw;}
                h5{
                    border-left: solid 0.5vw red; 
                    letter-spacing: 0.1vw;
                    padding-left: 0.1vw;
                }
                .tags{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    width: 80%;
                    margin: 0;
                    p{
                        background-color: $primePurple;
                        color: white;
                        padding: 0.1vw;
                        margin-right: 0.2vw;
                        border-radius: 0.2vw;
                    }
                }
                .meta{
                    border-bottom: solid 0.1vw gray; 
                    width: 100%;
                    font-weight: 800;
                }
                .brief{color: gray; text-overflow: clip;}
                .fullArticle{
                    all: unset;
                    cursor: pointer;
                    display: block;
                    width: 100%;
                    color: $primePurple;
                    text-align: end;
                    font-size: 1.5vw;
                }
            }
        }
    }
}

// local Older
.localOlder{
    width: 100vw;
    margin: 3rem 1rem 1rem 1rem;
    padding: 0 3rem 0 3rem;
    h6{ font-size: 2vw; padding-left: 0.1vw; border-left: solid red 0.5vw; margin-bottom: 0.1vw;}
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 600;
        p,a{
            font-size: 1.5vw;
        }
    }
}
}

// footer

.footer{
    display: flex;
    flex-direction: row;
    div.left{
        width: 30%;
        border-right: solid 0.1vw white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 20vw;
            margin: 1.5vw;
        }
        .copyright{
            color: white;
            font-size: 0.7vw;
        }
    }
    div.right{
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .topic{
            display: flex;
            flex-direction: column;
            justify-content: start;
            letter-spacing: 0.1vw;
            margin: 1.5vw;
            h6{
                color: white;
                font-size: 1.5vw; 
                text-align: start;
                margin-bottom: 1vw;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: start;
                a{
                    all: unset;
                    cursor: pointer;
                    font-size: 1vw;
                    text-decoration: none;
                    color: white;
                    margin-bottom: 1vw;
                }
            }

        }
    }
    
}

@media only screen and (max-width: 1500px) {
    .title{
        transform: translateY(-6rem) !important;
    }
    .studentSection{
        .owl-carousel{
            transform: scale(0.7);
            .studentC{
                h5{
                    font-size: 1rem !important;
                }
                h6{
                    grid-column: 3/12 !important;
                }
                .postTags{
                    grid-column: 9/14 !important;
                    p{
                        font-size: 0.2rem !important;
                    }
                }
            }
        }
    }

    .joinSection{
        a, p{
            font-size: 2rem !important;
        }
    }

}

