.c-qnaCard{
    border: solid var(--spacing-2) $prime_purple;
    height: fit-content;
    &__info{
        display: flex;
        flex-direction: row;
    }
    &__thumbNail{
        width: var(--spacing-48);
        margin-right: var(--spacing-8);
        circle{
            fill: $prime_gray;
        }
        @media (max-width:768px) {
            width: var(--spacing-24);
        }
    }
    &__content{
        color: $dark_gray;
        text-wrap: wrap;
        font-size: var(--text-lg);
    }
    &__bookmark{
        @media (max-width:768px) {
            display: none;
        }
    }
}