.c-sideNav {
    color: var(--color-white);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    min-height: 100rem;
    &__selections {
        grid-column: 1/12;
        grid-row: 1/2;
    }
    &__locations,
    &__topics {
        padding: var(--spacing-24);
        background-color: $prime_purple;
        border-radius: var(--spacing-12);
        margin: var(--spacing-24);
        text-align: center;
        font-size: var(--text-2xl);
        button{
            padding: var(--spacing-12);
        }
    }
    // popup section
    &__area {
        z-index: 2;
        grid-column: 10/21;
        grid-row: 1/2;
        display: none;
    }
    &__english {
        display: none;
        position: absolute;
        transform-origin: 0% 0%;
        transform: scale(0.8);
    }

    &__eurp {
        display: none;
        position: absolute;
        transform-origin: 0% 0%;
        transform: scale(0.8);
    }

    &__asia {
        display: none;
        position: absolute;
        transform-origin: 0% 0%;
        transform: scale(0.8);
    }

    hr, &__hr {
        opacity: 1;
        background-color: var(--color-white);
        margin: var(--spacing-8) 0;
        color: white;
    }
}