// @import "broccoli_style";

.c-sideNav {
    color: var(--color-white);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    min-height: 100rem;
    &_selections {
        grid-column: 1/12;
        grid-row: 1/2;
        &_locations,
        &_topics {
            padding: var(--spacing-24);
            background-color: $prime_purple;
            border-radius: var(--spacing-24);
            margin: var(--spacing-24);
            text-align: center;
            font-size: var(--text-3xl);
            button{
                padding: var(--spacing-12);
            }
        }
    }
    // popup section
    &_area {
        z-index: 2;
        grid-column: 10/21;
        grid-row: 1/2;
        // background-color: yellow;
        display: grid;
        grid-template-rows: repeat(20, 1fr);
        &_english {
            display: none;
            grid-row: 1/21;
            grid-column: 1/2;
            transform-origin: 0% 0%;
            transform: scale(0.8);
            // background-color: blue;
        }

        &_eurp {
            display: none;
            grid-row: 3/21;
            grid-column: 1/2;
            transform-origin: 0% 0%;
            transform: scale(0.8);
            // background-color: blue;
        }

        &_asia {
            display: none;
            grid-row: 5/21;
            grid-column: 1/2;
            transform-origin: 0% 0%;
            transform: scale(0.8);
            // background-color: blue;
        }
    }

    hr, &__hr {
        opacity: 1;
        background-color: var(--color-white);
        height: var(--spacing-2);
    }
}