@mixin header_template($position, $color) {
    position: $position;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-12);
    background-color: $color;
    z-index: 10;


    &__hideOnPhone {
        display: none;
    }

    &__logo {
        width: 20%;

        @media (max-width: 768px) {
            width: 30%;
        }
    }

    &__navBar {
        margin: 0;
        width: 80%;

        @media (max-width: 768px) {
            width: 70%;
        }
    }

    &__navItems {
        justify-content: end;
        align-items: center;
    }

    &__li {
        padding: 0 var(--spacing-12);
        align-self: center;
        font-size: var(--text-xl);
        font-weight: 600;

        a {
            all: unset;
            cursor: pointer;
            color: var(--color-white);

            &:hover {
                font-weight: 900;
                color: $prime_purple_light !important;
            }
        }

        &:last-child {
            padding: 0;
        }
    }

    &__thumbNail {
        width: var(--spacing-80);
    }
}

@mixin header_mobile($bgcolor) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-12);
    background-color: $bgcolor;

    &__hideOnDesk {
        display: none;
    }

    &__logo {
        width: 40%;
    }

    &__hamburger {
        font-size: var(--text-4xl);
        text-align: end;
        align-content: center;
    }

    &__navItems {
        background-color: $prime_purple;
        display: flex;
        flex-direction: row;
        padding: var(--spacing-24);
    }

    &__links {
        width: 33%;

        a {
            all: unset;
            cursor: pointer;
            display: block;
            text-align: center;
            color: var(--color-white);
            font-size: var(--text-sm);
        }
    }

    &__thumbNail {
        width: var(--spacing-80);
    }
}

// for welcome(main page) header
.l-header {
    z-index: 2;
    width: 100%;
    @include header_template(fixed, $transprent);

    @media (max-width: 768px) {
        @include header_mobile(none);
    }
}

// for other pages
.l-header-2 {
    @include header_template(inherit, var(--color-black));

    @media (max-width: 768px) {
        @include header_mobile(var(--color-white));
    }
}